<div class="frontFace ">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="frontFace__content mb-4 d-flex">
            <div class="frontFace__left">
                <div class="img__slide js-frontFace-slide">
                <div class="img__slide__item">
                    <%= image_tag("frontface_img1.jpg", :alt => "image") %>
                </div>
                <div class="img__slide__item">
                    <%= image_tag("frontface_img2.jpg", :alt => "image") %>
                </div>
                <div class="img__slide__item">
                    <%= image_tag("frontface_img3.jpg", :alt => "image") %>
                </div>
                </div>
            </div>
            <div class="frontFace__right">
                <div class="text ml-5 mt-4 mr-3">
                <div class="text__bg"></div>
                <h1 class="h1 big-titre">salut</h1>
                <p>
                    Photographe d'évènements et de mode, mon style de photographie rallie 
                    sobriété et simplicité. Je suis béninois d’origine et je réside à Cotonou. 
                    Découvrez mon univers, et si vous aimez mon travail, contacter moi, 
                    nous allons discuter ensemble de votre projet. 
                </p>
                <div class="text__btn mt-4 text-center">
                    <a href="#"  data-toggle="modal" data-target="#exampleModal2">Je veux une séance photo !</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


<!--album-->
<div class="album pt-5 pb-4">
<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="album__content">
        <h2 class="h2 text-center titre">Les derniers albums</h2>
        <div class="album__list">
            <div class="album__list__item">
            <a href="images/album1.jpg"  class="d-block single_img">
                <span class="album__list__item__avatar d-block">
                    <%= image_tag("album1.jpg", :alt => "image") %>
                </span>
                <span class="album__list__item__desc  d-block">
                <span class="titre  d-block">Photo Mariage</span>
                <span class="text  d-block">
                    Street papara et sa galerie de photo de Mariage vous laisse vous régaler.													
                </span>
                </span>
            </a>
            </div>
            <div class="album__list__item">
            <a href="images/album5.jpg" class="d-block  single_img">
                <span class="album__list__item__avatar d-block">
                    <%= image_tag("album5.jpg", :alt => "image") %>
                </span>
                <span class="album__list__item__desc  d-block">
                <span class="titre  d-block">Photo Mariage</span>
                <span class="text  d-block">
                    Street papara et sa galerie de photo de Mariage vous laisse vous régaler.													
                </span>
                </span>
            </a>
            </div>
            <div class="album__list__item">
            <a href="images/album3.jpg" class="d-block  single_img">
                <span class="album__list__item__avatar d-block ">
                    <%= image_tag("album3.jpg", :alt => "image") %>
                </span>
                <span class="album__list__item__desc  d-block">
                <span class="titre  d-block">Photo Mariage</span>
                <span class="text  d-block">
                    Street papara et sa galerie de photo de Mariage vous laisse vous régaler.													
                </span>
                </span>
            </a>
            </div>
            <div class="album__list__item">
            <a href="images/album2.jpg" class="d-block single_img">
                <span class="album__list__item__avatar d-block">
                    <%= image_tag("album2.jpg", :alt => "image") %>
                </span>
                <span class="album__list__item__desc  d-block">
                <span class="titre  d-block">Photo Mariage</span>
                <span class="text  d-block">
                    Street papara et sa galerie de photo de Mariage vous laisse vous régaler.													
                </span>
                </span>
            </a>
            </div>
            <div class="album__list__item">
            <a href="images/album5.jpg" class="d-block single_img">
                <span class="album__list__item__avatar d-block">
                <%= image_tag("album5.jpg", :alt => "image") %>
                </span>
                <span class="album__list__item__desc  d-block">
                <span class="titre  d-block">Photo Mariage</span>
                <span class="text  d-block">
                    Street papara et sa galerie de photo de Mariage vous laisse vous régaler.													
                </span>
                </span>
            </a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<!--derniers articles-->
<div class="article pt-5 pb-4">
<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="article__content">
        <h2 class="h2 text-center titre">Nos dernières articles</h2>
        <div class="article__list mt-4">
            <div class="article__list__item">
            <div class="img text-center mb-1">
                <%= image_tag("article_1.jpg", :alt => "image") %>
            </div>
            <div class="name ">Reflex</div>
            <div class="titre mb-2">
                EOS 5D Mark IV Body C log											
            </div>
            <div class="price">15000f</div>
            <div class="btn-detail mt-4">
                <a href="detail_article.html">Détail</a>
            </div>
            </div>
            <div class="article__list__item">
            <div class="img text-center mb-1">
                <%= image_tag("article_2.jpg", :alt => "image") %>
            </div>
            <div class="name ">Reflex</div>
            <div class="titre mb-2">
                EOS 5D Mark IV Body C log											
            </div>
            <div class="price">15000f</div>
            <div class="btn-detail mt-4">
                <a href="detail_article.html">Détail</a>
            </div>
            </div>
            <div class="article__list__item">
            <div class="img text-center mb-1">
                <%= image_tag("article_1.jpg", :alt => "image") %>
            </div>
            <div class="name ">Reflex</div>
            <div class="titre mb-2">
                EOS 5D Mark IV Body C log											
            </div>
            <div class="price">15000f</div>
            <div class="btn-detail mt-4">
                <a href="detail_article.html">Détail</a>
            </div>
            </div>
            <div class="article__list__item">
            <div class="img text-center mb-1">
                <%= image_tag("article_1.jpg", :alt => "image") %>
            </div>
            <div class="name ">Reflex</div>
            <div class="titre mb-2">
                EOS 5D Mark IV Body C log											
            </div>
            <div class="price">15000f</div>
            <div class="btn-detail mt-4">
                <a href="detail_article.html">Détail</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>