<!DOCTYPE html>
<html>
  <head>
    <title>FirstRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


 
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    
    </head>

  <body>
    <!--wrapper-->
    <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header__content d-flex justify-content-between align-items-center ">
            <div class="header__left d-flex">
                <a href="<%= root_path %>" class="logo">
                  <%= image_tag("logo.svg", :alt => "logo") %>
                </a>
                <nav class="menu active js-header-mobile">
                  <ul class="menu__list d-flex">
                      <li class="menu__list__item have-sub-menu">
                          <a href="<%= galery_path %>" class="icon- i-title-list-menu icon-after"><!--angle-downicon--->
                              Galerie
                          </a>
                          <ul class="sub-menu">
                              <li>
                                  <a href="<%= galery_path %>">mariage</a>
                              </li>
                              <li>
                                  <a href="<%= galery_path %>">photo nude</a>
                              </li>
                              <li>
                                  <a href="<%= galery_path %>">photo portraits</a>
                              </li>
                              <li>
                                  <a href="<%= galery_path %>">studio</a>
                              </li>
                          </ul>
                      </li>
                      <li class="menu__list__item">
                          <a href="<%= shop_path %>">papara shop</a>
                      </li>
                      <li class="menu__list__item">
                          <a href="<%= about_path %>">Apropos</a>
                      </li>
                      <li class="menu__list__item">
                          <a href="<%= services_path %>">services</a>
                      </li>
                      <li class="menu__list__item">
                          <a href="<%= contacts_path %>">contacts</a>
                      </li>
                  </ul>
                </nav>
            </div>
            <div class="header__right">
              <div class="user">
                <a href="#" class="register user-plusicon-" data-toggle="modal" data-target="#exampleModal1">S'inscrir</a>
                <a href="#" class="login loginicon-" data-toggle="modal" data-target="#exampleModal">Se Connecter</a>
                </div>
                <div class="cart">
                  <a href="panier.html" class="basketicon-">
                    <span class="text">Votre panier<small>est  vide</small></span>
                    <span class="qte"></span>
                  </a>
                </div>
              </div>
            <div class="header__btn js-mobile-btn">
              <span class="header__btn--menu"></span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <a href="#" class="i-btn">link btn</a>
    </header>
    <main class="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="footer__top__content d-flex justify-content-between flex-wrap">
                <div class="footer__top__content__left">
                <a href="<%= root_path %>" class="logo"><%= image_tag("logo-white.svg", :alt => "logo") %></a>
                <ul class="rs d-flex">
                    <li><a href="#" class="facebookicon-"></a></li>
                    <li><a href="#" class="instagramicon-"></a></li>
                    <li><a href="#" class="snapchat-ghosticon-"></a></li>
                    <li><a href="#" class="twittericon-"></a></li>
                    <li><a href="#" class="pinterest-circledicon-"></a></li>
                </ul>
                </div>
                <div class="footer__top__content__rigth">
                <div class="title">Contacts</div>
                <div class="contact- adress locationicon-">Bénin - Cotonou Akogbato Maison Streetpapara</div>
                <div class="contact- email mailicon-"><a href="#">infos@streetpapara.com</a></div>
                <div class="contact- phone phoneicon-"><a href="tel:(+229) 62-44-74-74">(+229) 62-44-74-74</a></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer__bottom">
        StreetPapara © 2019 - Réalisé par <a href="www.serproweb.ru">SerProWeb</a>
    </div>
</footer>

    <%= javascript_pack_tag 'script'%>
    </div>
  </body>
</html>
